

/*.dashboard .chart-padding {
    padding: 30px;
}*/

/*.hidden-bio {
    height: 154px;
    /!*transition: .3s all cubic-bezier(0.57, 0.62, 0, 1.03);*!/
    /!*-webkit-transition: .3s all cubic-bezier(0.57, 0.62, 0, 1.03);*!/
    /!*-moz-transition: .3s all cubic-bezier(0.57, 0.62, 0, 1.03);*!/
    overflow: hidden;
}*/

/*.gradient {
    position: relative;
}*/

/*.gradient:after {
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    /!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 *!/
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) -40%, rgba(255,255,255,1) 85%); /!* FF3.6-15 *!/
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) -40%,rgba(255,255,255,1) 85%); /!* Chrome10-25,Safari5.1-6 *!/
    background: linear-gradient(to bottom,  rgba(255,255,255,0) -40%,rgba(255,255,255,1) 85%); /!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /!* IE6-9 *!/

}*/

/*
.hidden-bio.show {
    height: 100%;
}
*/

/*.show-bio {
    display: block;
    text-align: center;
    color: #10a2ef;
    font-size: 13px;
}*/

/*.show-bio:hover,
.show-bio:active,
.show-bio:focus {
    color: #10a2ef;
}*/

/*textarea.editable {
    border: none;
    resize: none;
    height: auto;
    min-height: auto !important;
    overflow: hidden;
    white-space: pre-line;
    padding: 0 !important;
}
*/
/*
#accordion > li.active > .link > a {
    color: #10a2ef !important;
    font-family: "open-sansbold";
}*/
.beforeSignup{
    list-style: none;
    padding-left: 0;
}
.beforeSignup li{
    padding-top: 0;
}
.beforeSignup .btn-select-user-role i{
    color: #337ab7;
}
.order-ct{
    padding-top: 20px;
}
.upload-profile-avatar img{
    width: 75px;
}
.profile .upload-profile-avatar{
    margin-left: 35px;
}
.profile .block-billing ul li .info-content{
    width: 100%;
}
.profile .block-billing ul li .info-content input{
    width: 100%;
    min-height: 35px;
    border-top:none;
    border-left:none;
    border-right: none;
}
.profile .block-billing ul li .info-content textarea{
    border-top:none;
    border-left:none;
    border-right: none;
}
.profile .block-billing ul li{
    margin-bottom: 20px;
}
.profile .block-billing  .button-sb{
    text-align: right;
    margin-right: 10%;
    margin-top: 50px;
}
.confirm-header-modal{
    background: #fff;
    color: #000;
}
#confirmInfo .confirmInforContent{
    min-width: 55%;
}
.page-template-page-profile .back-top-hover{
    width: 75px!important;
    height: 75px!important;
}
.page-template-page-profile .upload-profile-avatar img{
    border-radius: 50%;
}
.page-template-page-process-hiring .form-confirm-billing{
    display: none;
}
.page-template-page-process-hiring .hiring-process-select{
    height: 35px;
    line-height: 30px;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #dfe0e5;
    padding-left: 0;
    width: 40%;
}
.page-template-page-process-hiring .billing-order-address, .page-template-page-process-hiring .account-holder, .page-template-page-process-hiring .form-sign-agreement{
    display: none;
}
.page-template-page-process-hiring .clear{
    margin-right: 20px;
    cursor: pointer;
}
.agreement_modal_dialog{
    /*min-width: 75%*/
}
.agreement_modal_content{
    word-wrap: break-word;
    height: 674px;
    overflow-y: auto;
}
.signature-img{
    width: 19%;
}
.page-template-page-process-hiring .mjob-process-hiring-back{
    margin-right: 20px;
    cursor: pointer;
}
.cl-items{
    text-align: center;
    color: #c1c2c7;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}
.dashboard-notification{
    padding-top: 30%;
}
.order-detail-profile{
    margin-top: 0 !important;
}
.order-mjob-content{
    margin-top: 40px!important;
}
.mjob-single-order-page .personal-profile{
    padding-bottom: 0!important;
    border-bottom: 1px solid #dfe0e5;
}
.box-aside2{
    margin-top: 60px;
    margin-bottom: 30px;
}
.label-status-order{
    right: -7px!important;
    top: 20px!important;
}

.top-message {
    width: 100%;
    border-bottom: 1px solid silver;
    text-align: center;
    z-index: 1001;
    padding: 10px;
    background: #FFFBCF;
    box-shadow: 1px 0px 46px rgba(188, 207, 219, 0.7)
}

.btn-basic {
    display: inline-block;
    background: #10a2ef;
    color: #fff !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px 10px 5px 10px;
    margin: 0 5px;
    text-decoration: none;
}
.btn-basic:hover, .btn-basic:active {
    color: #fff !important;
    background: #56BAEF;
    text-decoration: none;
}
.btn-basic.disabled {
    opacity: .4;
}

.dashboard-new-listing {
    height: 387px;
    text-align: center;
    position: relative;
}
.dashboard-new-listing a {
  display: inline-block;
  color: silver;
  font-size: 20px;
  vertical-align: middle;
  padding: 120px 50px 50px 50px;
  height: 380px;
}

.dashboard-new-listing a span:first-child {
    font-size: 60px;
    display: block;
}


.mjob-profile-page .account-holder, .mjob-profile-page .billing-order-address{
    display: none;
}
.other-listing-item {
    /*border-bottom: 1px solid #ccc;*/
    /*padding: 10px;*/
    padding-bottom: 20px;
}

.other-listing-item a {
    color: rgba(137, 138, 144, 0.6);
}

.other-listing-item a:hover {
    color: rgba(137, 138, 144, 1 );
}

.other-listing-item .price {
    color: #10a2ef;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert.alert-success {
    background: #3c763d;
    border-color: #d6e9c6;
}
.alert.alert-info {
    background: #d9edf7;
    border-color: #bce8f1;
    margin-top: 40px;
}
.alert.alert-warning {
    color: #8a6d3b;
    background: #fcf8e3;
    border-color: #faebcc;
}
.alert.alert-danger {
    color: #a94442;
    background: #f2dede;
    border-color: #ebccd1;
}
.muted {
    color: #aaafb2;
}
.requirement-style{
    width: 100%;
}
.requirement-style .chosen-choices{
    border: none!important;
}
.requirement-style .chosen-choices .search-field{
    width: 100%;
    border-bottom: 1px solid rgba(137, 138, 144, 0.2)!important;
}
.requirement-style .chosen-choices .search-field input {
    height: 45px!important;
    width: 100%!important;;
    padding: 0 !important;
    border: 0!important;;
    border-bottom: 1px solid rgba(137, 138, 144, 0.2)!important;
    box-shadow: none!important;;
    outline: none!important;;
}
.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #aaa;
    background-clip: padding-box;
    color: #333;
    line-height: 13px;
    cursor: default;
}
.btn-custom-order{
    margin-top:0!important;
    position: initial!important;
}
.btn-post-listing{
    border-radius: 45px;
    padding: 13px 22px;
    border: none;
    background: #10a2ef;
    color: #fff!important;
    box-shadow: -1px 6px 19px rgba(16, 162, 239, 0.4);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: none;
    position: relative;
    overflow: hidden;
}
.other-listing-item-new:last-child{
    border: none;
}
.company-description{
    text-align: center;
}
.mjob-float-left{
    float: left!important;
}
/*.step-post{*/
    /*display: none!important;*/
/*}*/
/*#step4{*/
    /*display: block;*/
/*}*/
.ribbon-featured {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
    display: none;
}
.ribbon-featured span {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /* Needed for Safari */
    width: 100px; display: block;
    background: #fda933;
    background: linear-gradient(#fda933 0%, #fda933 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.progress-bar .step-2-col li {
    width: 48% !important;
}
.progress-bar .step-2-col li:nth-child(2) {
    text-align: right;
    padding-right: 7px;
}
.progress-bar .step-2-col li:nth-child(2).active {
    left: 20px;
}
.m-signature-pad--body1{
    /*border: none!important;*/
}
.m-signature-pad1{
    box-shadow: none!important;
}
.status-noti{
    color:red;
}
.block-profile{
    min-height: 665px;
}
.page-template-page-signature-company .clear{
    margin-right: 20px;
    cursor: pointer;
}
.requirement-list{
    margin-top: 20px;
}
.requirement-list li{
    list-style: none;
    margin-bottom: 15px;
}
.requirment-tab-content{
    padding-bottom: 20px;
}
.requirement-list .requirement-label{
    font-weight: normal;
}
#requirement_modal .browse_button, #delivery .browse_button {
    background: #c1c2c7;
    padding: 30px;
    cursor: pointer;
}
#requirement_modal .image-upload .drag-image i, #delivery .image-upload .drag-image i {
    font-size: 120px;
    color: #838892;
    margin: 50px 0 20px 0;
}
#requirement_modal .image-upload .drag-image, #delivery .image-upload .drag-image {
    text-align: center;
    color: #2a394e;
    margin: 70px 0 100px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
#requirement_modal .browse_button, #delivery .browse_button  {
    background: #c1c2c7;
    padding: 30px;
    cursor: pointer;
}
#requirement_modal .image-upload .drag-image span, #delivery .image-upload .drag-image span {
    display: block;
}
#requirement_modal button[disabled], #delivery button[disabled] {
    opacity: .5;
}
#requirement_modal .btn-remove, #delivery .btn-remove  {
    display: none;
    color: #898a90;
    padding-left: 20px;
}
#delivery .gallery_container{
    width: 100%;
   padding: 0;
}
.left-tab-requirement{
    pading-left: 20px!important;
}
.requirement-tabs{
    margin-left: 20px;
}
.text-disputes{
    color: #aaafb2;
    font-family: 'Montserrat', sans-serif;
}
#requirement_modal .requirement-image-list, #delivery .requirement-image-list{
    text-align: left;
}
#requirement_modal .image-upload .image-item, #delivery .image-upload .image-item{
    list-style: none;
    display: inline;
}
#requirement_modal .image-upload .image-item .delete-img i, #delivery .image-upload .image-item .delete-img i{
    color: #e52e5d;
}
#requirement_modal .image-upload .drag-image .image-item i, #delivery .image-upload .drag-image .image-item i{
    font-size: 18px!important;
}
.disabled{
    pointer-events: none;
    cursor: default;
}
.user-conversation {
    display: block;
    font-size: 11px;
    color: #aaafb3;
    font-style: italic;
    text-transform: none;
    font-weight: 100;
}
.mjob_conversation_detail_page .box-shadow-title {
    background: url(../img/box-line.png) no-repeat;
    background-size: 60%;
    width: 100%;
    height: auto;
    background-position: left bottom;
    padding-bottom: 37px;
}
.document-list {
    padding-bottom: 20px;
}
.form-confirm-info-modal{
    margin-bottom: 20px;
}
.contact-info-form, .billing-info-form, .unlock-requirement-modal{
    padding-top: 20px;
    padding-right: 20px;
}
.contact-info-form button, .form-confirm-billing-modal button, .unlock-requirement-modal button, .show-requirement-content button{
    margin-bottom: 20px;
}
.hiring-process-select{
    height: 35px;
    line-height: 30px;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #dfe0e5;
    padding-left: 0;
    width: 40%;
}
.resend-requirement-style{
    font-size: 18px;
    /*color: red;*/
}
.unlock-requirement-modal{
    padding-left: 20px;
}
.notice-message{
    font-size: 18px;
}
.show-requirement-content{
    min-width: 800px;

}
.show-requirement-iframe-style{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.show-requirement-content .button{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.show-requirement-content .button .btn-download {
    margin-right: 20px;
    margin-bottom: 20px;
}
.doc-icon{
    font-size: 42px;
}
.document-list{
    padding-bottom: 20px;
    padding-left: 0;
    display: inline-block;
    width: 100%;
}
.document-list .item-requirement{
    text-align: center;
}
.login-list-icon li{
    margin-right: 15px;
}
.login-list-icon li:last-child{
    margin-right: 0;
}
.login-list-icon .login-facebook i{
    color:  #3b5998;
}
.login-list-icon .login-google i{
    color: #ea4335
}
.login-list-icon .login-twitter i{
    color: #68c5ef
}
#signUpFormStep1 .check-user-email{
    width: 100%!important;
}
#signInForm, #signUpForm{
    display: none;
}
.confirm-pass-label{
    margin-left: 10px;
    width: 98% !important;
}
.profile-page-role .checkbox{
    display: inline-block!important;
    margin-right: 50px!important;
    /*float: left!important;*/
}
.profile-page-role .checkbox input[type="radio"]{
    left: 6px;
    top: 15px
}
.profile-type-css{
    margin-bottom: 0!important;
}
.block-connect-social-css{
    /*margin-top: 12px!important;*/
}
.title-connect-social{
    margin-bottom: 20px!important;
}
.profile-page-role .checkbox span{
    font-weight: bold;
    color: #000;
}
#change_user_role_modal .notice-message, #hire_signup_modal .notice-message, #work_complete_modal .notice-message, #delivery .notice-message{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #898a90;
}
#change_user_role_modal .role-back-return-css{
    margin-right: 20px;
}
#change_user_role_modal .notice-message .note-action, #hire_signup_modal .notice-message .note-action, #work_complete_modal .notice-message .note-action, #delivery .notice-message .note-action {
    font-weight: bold;
}
.featured-active{
    display: block;
}
#hire_signup_modal .login-list-icon{
    text-align: center;
    margin-bottom: 53px;
    padding: 0;
}
#hire_signup_modal .login-list-icon li{
    display: inline-block;
    margin-right: 92px;
}
#hire_signup_modal .login-list-icon li:last-child{
    margin-right: 0;
}
#hire_signup_modal .login-list-icon li i{
    font-size: 30px;
}
.changelog-item {
    text-align: center;
    position: relative;
}
.changelog-item .changelog-text {
    color: #90969b;
    font-style: italic;
    margin: 0 90px;
}
.changelog-item .changelog-text a {
    color: #10a2ef;
    font-weight: bold;
}
.changelog-item .message-time {
    position: absolute;
    right: 0;
    top: 2px;
    margin-top: 0;
}
.disablediv{
    pointer-events: none;
    opacity: 0.5;
}
.btn-work-complete-css{
    margin-top: 20px;
    margin-left: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
#reorder_modal .block-items-detail .package-statistic .text-content{
    border-bottom: none!important;
    margin-top: 0!important;
}
#reorder_modal .block-items-detail .package-statistic .text-content ul li{
    border: none!important;
    margin-bottom: 0!important;
    padding-bottom: 5px!important;
}
#reorder_modal .block-items-detail .package-statistic{
    padding: 0 95px 0 95px!important;
}
#reorder_modal .block-items-detail .personal-profile{
    padding-bottom: 0!important;
}
.social-noti{
    margin-bottom: 20px;
    display: block;
}
.page-template-page-process-hiring .check-terms .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.page-template-page-process-hiring .check-terms{
    margin-bottom: 0!important;
}
.page-template-page-process-hiring .check-terms-last{
    margin-bottom: 60px!important;
}
.page-template-page-process-hiring .change-pass-button-method{
    margin-top: 60px!important;
}
.job-items-cat-title{
    /*margin-top: 53px!important;*/
}
.mjob_cat_content_css{
    margin-bottom: 30px;
    margin-top: 30px;
}
.withdraw .block-items-detail{
    padding-top: 10px!important;
}
.dashboard-profile-company{
    margin-top: 0!important;
}
.change-password{
    padding: 30px 20px 30px 20px!important;
}
.connected-text{
    pointer-events: none;
    cursor: default;
    color: #fff;
    opacity: 0.8;
}
.post-mjob-noti{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 35px;
}
.time-delivery{
    width: 92%!important;
}
.padding-0{
    padding: 0!important;
}
.width-100{
    width: 100%!important;
}
.margin-left-0{
    margin-left: 0!important;
}
.post-image-photo{
    position: absolute;
    bottom: -14px;
}
.post_listing_agreement_term{
    background: url(../img/box-line.png) no-repeat;
    background-size: 90%;
    width: 100%;
     height: auto;
    background-position: center bottom;
    padding-bottom: 20px;
}
.post_listing_agreement_term_content{
    height: 400px;
    overflow: auto;
}
.post-listing-button-wrapper{
    text-align: right;
}
.footer-fix{
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
}
.cat-text{
    color: #aaafb3!important;
}
.checkout-btn-wrapper{
    position: relative
}
.checkout-btn-wrapper .post-listing-back{
    color: #898a90;
    margin-left: 20px;
    border: none;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    right: 200px;
}
.headline-mjob-sidebar{
    margin-top: 35px;
}
.block-items-detail .personal-profile ul li:last-child{
    /*border-bottom: 1px solid #dfe0e5;*/
}
.related-mjob-img{
    border-radius: 0!important;
    width: 100%!important;
    height: auto!important;
    padding: 2px;
    border: 1px solid #dfe0e5;
}
.mjob-category-link{
    color:#10a2ef!important;
}
.order-listing{
    margin-top: 50px!important;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfe0e5;
}
.relate-mjob-post-title{
    color: rgba(137, 138, 144, 0.6);
}
@media (max-width: 767px) {
    .job-items-cat-title{
        /*margin-top: 36px!important;*/
    }
    .job-items-cat-title h1{
        font-size: 24px!important;
        margin: 0;
    }
    .job-items-cat-title p{
        font-size: 12px!important;
    }
}
.post-service-title{
    text-align: center!important;
}
.l-hide, .f-upload{
    display: none;
}
.new-styles-wrapper-list-conversation{
    height: 500px;
}
.order-extra{
}
.mjob-single-order-page .order-detail-price .total-order-1{
    border-bottom: 1px solid #dfe0e5;
}
.margin-bottom-100{
    margin-bottom: 100px;
}
.requirement-task i{
    color:red;
    display: none;
}
.mjob_order_btn{
    text-align: center;
}
.mjob-client-more-info{
    padding-left: 0!important;
}
.mjob-order-right-info{
    float: right;
}
.padding-left-20{
    padding-left: 20px;
}
.padding-right-20{
    padding-right: 20px;
}
.resend-requirement-css{
    display: none;
    margin-right: 20px;
    margin-bottom: 20px;
}
.normal-link{
    color: #10a2ef!important;
    margin-right: 20px;
}
.block-items-detail .sharing{
    margin: 0!important;
}
.block-items-detail .information-items-detail .sharing li:first-child{
    margin-right: 0;
    margin-left: 0;
}
.block-items-detail .information-items-detail .sharing li{
    margin-left: 0;
    margin-right: 10px;
}
.block-items-detail .information-items-detail .sharing{
    right: 80%;
    text-align:left;
}
@media (max-width: 1336px) {
    .block-items-detail .information-items-detail .sharing{
        right: 10%;
    }
}
.information-items-detail{
    border-bottom: 1px solid #dfe0e5;
    padding-bottom: 30px!important;
}
.block-items-detail .review-job ul li:last-child{
    padding-bottom: 0!important;
}
.post-detail #comments .comment-list li, .single-mjob_post #comments .comment-list li:first-child{
    margin-top: 10px;
}
.single-mjob_post .comment-form-comment  label{
    display: none!important;
}
.order-fixed-scroll {
    position: fixed!important;
    top: 19px!important;
    z-index: 999;
    border: none;
    width: 16%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.mobile-btn{
    display: none;
}
.mobile-list{
    display: none;
}
@media (max-width: 767px) {
    .order-fixed-scroll{
        width: 25% !important;
        padding: 10px 31px!important;
    }
    .title-fixed-scroll{
        font-size: 14px!important;
    }
    .mobile-btn{
        display: block!important;
    }
    .desktop-btn{
        display: none;
    }
    .tablet-btn{
        display: none!important;
    }
    .post-detail #comments, .single-mjob_post #comments{
        margin: 0;
    }
    .post-detail #comments input[type="text"], .single-mjob_post #comments textarea, .post-detail #comments input[type="text"], .post-detail #comments textarea{
        width: 100%;
    }
    #incomingPaymentsForm{
        display: inline-block;
    }
}
@media (max-width: 1024px) {
    .order-fixed-scroll{
        width: 21% !important;
    }
    .tablet-btn{
        display: block;
    }
    .mobile-btn{
        display: none;
    }
    .desktop-btn{
        display: none;
    }
    .mobile-list{
        display: block;
    }
    .desktop-list{
        display: none;
    }
}
