

/*.dashboard .chart-padding {
    padding: 30px;
}*/

/*.hidden-bio {
    height: 154px;
    /!*transition: .3s all cubic-bezier(0.57, 0.62, 0, 1.03);*!/
    /!*-webkit-transition: .3s all cubic-bezier(0.57, 0.62, 0, 1.03);*!/
    /!*-moz-transition: .3s all cubic-bezier(0.57, 0.62, 0, 1.03);*!/
    overflow: hidden;
}*/

/*.gradient {
    position: relative;
}*/

/*.gradient:after {
    content: "";
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    /!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 *!/
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) -40%, rgba(255,255,255,1) 85%); /!* FF3.6-15 *!/
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) -40%,rgba(255,255,255,1) 85%); /!* Chrome10-25,Safari5.1-6 *!/
    background: linear-gradient(to bottom,  rgba(255,255,255,0) -40%,rgba(255,255,255,1) 85%); /!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /!* IE6-9 *!/

}*/

/*
.hidden-bio.show {
    height: 100%;
}
*/

/*.show-bio {
    display: block;
    text-align: center;
    color: #10a2ef;
    font-size: 13px;
}*/

/*.show-bio:hover,
.show-bio:active,
.show-bio:focus {
    color: #10a2ef;
}*/

/*textarea.editable {
    border: none;
    resize: none;
    height: auto;
    min-height: auto !important;
    overflow: hidden;
    white-space: pre-line;
    padding: 0 !important;
}
*/
/*
#accordion > li.active > .link > a {
    color: #10a2ef !important;
    font-family: "open-sansbold";
}*/
.beforeSignup{
    list-style: none;
    padding-left: 0;
}
.beforeSignup li{
    padding-top: 0;
}
.beforeSignup .btn-select-user-role i{
    color: #337ab7;
}
.order-ct{
    padding-top: 20px;
}
.upload-profile-avatar img{
    width: 75px;
}
.profile .upload-profile-avatar{
    margin-left: 35px;
}
.profile .block-billing ul li .info-content{
    width: 100%;
}
.profile .block-billing ul li .info-content input{
    width: 100%;
    min-height: 35px;
    border-top:none;
    border-left:none;
    border-right: none;
}
.profile .block-billing ul li .info-content textarea{
    border-top:none;
    border-left:none;
    border-right: none;
}
.profile .block-billing ul li{
    margin-bottom: 20px;
}
.profile .block-billing  .button-sb{
    text-align: right;
    margin-right: 10%;
    margin-top: 50px;
}
.confirm-header-modal{
    background: #fff;
    color: #000;
}
#confirmInfo .confirmInforContent{
    min-width: 55%;
}
.page-template-page-profile .back-top-hover{
    width: 75px!important;
    height: 75px!important;
}
.page-template-page-profile .upload-profile-avatar img{
    border-radius: 50%;
}
.page-template-page-process-hiring .form-confirm-billing{
    display: none;
}
.page-template-page-process-hiring .hiring-process-select{
    height: 35px;
    line-height: 30px;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #dfe0e5;
    padding-left: 0;
    width: 40%;
}
.page-template-page-process-hiring .billing-order-address, .page-template-page-process-hiring .account-holder, .page-template-page-process-hiring .form-sign-agreement{
    display: none;
}
.page-template-page-process-hiring .clear{
    margin-right: 20px;
    cursor: pointer;
}
.agreement_modal_dialog{
    /*min-width: 75%*/
}
.agreement_modal_content{
    word-wrap: break-word;
    height: 674px;
    overflow-y: auto;
}
.signature-img{
    width: 19%;
}
.page-template-page-process-hiring .mjob-process-hiring-back{
    margin-right: 20px;
    cursor: pointer;
}
.cl-items{
    text-align: center;
    color: #c1c2c7;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
}
.dashboard-notification{
    padding-top: 30%;
}
.order-detail-profile{
    margin-top: 0 !important;
}
.order-mjob-content{
    margin-top: 40px!important;
}
.mjob-single-order-page .personal-profile{
    padding-bottom: 0!important;
}
.box-aside2{
    margin-top: 60px;
    margin-bottom: 30px;
}
.label-status-order{
    right: -7px!important;
    top: 20px!important;
}

.top-message {
    width: 100%;
    border-bottom: 1px solid silver;
    text-align: center;
    z-index: 1001;
    padding: 10px;
    background: #FFFBCF;
    box-shadow: 1px 0px 46px rgba(188, 207, 219, 0.7)
}

.btn-basic {
    display: inline-block;
    background: #10a2ef;
    color: #fff !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px 10px 5px 10px;
    margin: 0 5px;
    text-decoration: none;
}
.btn-basic:hover, .btn-basic:active {
    color: #fff !important;
    background: #56BAEF;
    text-decoration: none;
}
.btn-basic.disabled {
    opacity: .4;
}

.dashboard-new-listing {
    height: 387px;
    text-align: center;
    position: relative;
}
.dashboard-new-listing a {
  display: inline-block;
  color: silver;
  font-size: 20px;
  vertical-align: middle;
  padding: 120px 50px 50px 50px;
  height: 380px;
}

.dashboard-new-listing a span:first-child {
    font-size: 60px;
    display: block;
}


.mjob-profile-page .account-holder, .mjob-profile-page .billing-order-address{
    display: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert.alert-success {
    background: #3c763d;
    border-color: #d6e9c6;
}
.alert.alert-info {
    background: #d9edf7;
    border-color: #bce8f1;
}
.alert.alert-warning {
    color: #8a6d3b;
    background: #fcf8e3;
    border-color: #faebcc;
}
.alert.alert-danger {
    color: #a94442;
    background: #f2dede;
    border-color: #ebccd1;
}
.muted {
    color: #aaafb2;
}
