.block-items {
  margin: 50px 0;
  text-align: center;
}

.block-items h2 {
  font-size: 16px;
}

.block-items .item {
  border: 1px solid #d2d2d2;
  padding: 8px;
  margin-left: 30px !important;
}

.block-items .item:first-child {
  margin-left: 0;
}

.block-items ul li {
  list-style: none;
  padding: 8px;
  margin: 0 0 25px 0px;
}

.block-items ul li:first-child {
  margin-left: 0;
}

.block-items ul li .inner {
  border: 1px solid #d2d2d2;
  margin: 0 12px 0 0;
  position: relative;
  padding: 8px;
}

.block-items ul li .inner:first-child {
  margin-left: 0;
}

.block-items ul li .inner .price, .block-items ul li .inner .author, .block-items ul li .inner .star, .block-items ul li .inner .bookmark {
  width: 49%;
  display: inline-block;
}

.block-items ul li .inner .price, .block-items ul li .inner .author {
  text-align: left;
}

.block-items ul li .inner .star, .block-items ul li .inner .bookmark {
  text-align: right;
}
